<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.easybuy.dao.order.UserAddressMapper">
	<insert id="add" parameterType="UserAddress">
		INSERT into easybuy_user_address(userId,address,createTime,isDefault,remark) 
		VALUES(#{userId},#{address},#{createTime},0,#{remark})
	</insert>
	<select id="getUserAddressById" parameterType="int" resultType="UserAddress">
		select id,userId,address,createTime,isDefault,remark from easybuy_user_address  where id=#{id}
	</select>
	<select id="queryUserAddressList" resultType="UserAddress">
		select id,userId,address,createTime,isDefault,remark from easybuy_user_address
		<where>
			1=1
			<if test="userId != null">
				and userId=#{userId}
			</if>
			<if test="address != null and address !=''">
				and address LIKE CONCAT ('%',#{address},'%') 
			</if>
			<if test="sort!=null and sort!=''">
				and order by #{sort}
			</if>
			<if test="isPage">
				limit #{startIndex},#{pageSize} 
			</if>		
		</where>
	</select>
</mapper>